
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

/* فقط فونت وزیر */
html {
  font-family: "Vazir", sans-serif;
  direction: rtl;
  @apply text-base antialiased;
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  @apply bg-background text-foreground min-h-screen h-full;
  font-family: "Vazir", sans-serif;
}

/* اعداد فارسی */
.persian-numbers {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
